<div class="listen__prompt">
  <p>Add this song to your library?</p>
  <div class="listen__post-actions">
    <%= button_to "Yes, add it", rating_path(rating), method: :patch, class: "button" %>
    <%= link_to "Not now", listen_index_path, class: "button button--ghost" %>
  </div>
</div>
