<div class="listen__prompt">
  <p>Add this song to your library?</p>
  <div class="listen__post-actions">
    <%= link_to "Yes, add it", library_index_path, class: "button" %>
    <%= link_to "Not now", listen_index_path, class: "button button--ghost" %>
  </div>
</div>
