<section class="guest">
  <div class="guest__card">
    <h1>Shuffle</h1>
    <p>Discover music anonymously. Listen once, rate once, move on.</p>
    <div class="guest__actions">
      <%= link_to "Sign in", new_user_session_path, class: "button" %>
      <%= link_to "Create account", new_user_registration_path, class: "button button--ghost" %>
    </div>
  </div>
</section>
